<h1>Accuarium</h1>
<p>Thank you for registering!</p>
<p>Please confirm your email address and create a password for your new account following the link below:</p>

<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
  <tbody>
    <tr>
      <td align="left">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td> <a href="{{url}}/user-confirmation?email={{email}}&confirmation-token={{confirmationToken}}" target="_blank">Confirm email</a> </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<p>Please let us know if you are not the recipient of this email.</p>
<p>It's play time!</p>