<h3>Accuarium</h3>
<h1>¡Gracias por suscribirte!</h1>
<p>Tan pronto como la versión beta esté disponible, te enviaremos un email a esta misma direcciónde correos. Síguenos en nuestras redes para estar informado de las últimas noticias.</p>

<p>Haznos saber si tu no eres el destinatario de este email.</p>
<p>¡Tendrás noticias nuestras muy pronto!</p>