<p>
  <small>
    Este mensaje va dirigido exclusivamente a su destinatario, en caso de haber recibido este mensaje por error, puede comunicárnoslo mediante el correo electrónico remitido a nuestra atención y procederemos a revisar el motivo del error.
    <br/>
    Asimismo, el email puede contener documentos y/o información confidencial propia o de terceros por lo que rogamos que se proceda a su eliminación, tanto del email como de los documentos adjuntos para así prevenir mayores fugas de información confidencial.
    <br/>
    En cumplimiento del Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, puede ejercer los derechos de acceso, rectificación, cancelación y oposición (derechos ARCO) a través de: hello@accuarium.app
    <br/>
    El Aviso de Confidencialidad ha sido creado el día 16/07/2022.
  </small>
</p>